body {
    background-color: rgb(145, 163, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register {
    border: 2px solid aqua;
    padding: 25px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.welcome-title{
    margin-bottom: 10px;
    text-align: center;
}

.register-header{
    margin-bottom: 10px;
    font-size: 1.7rem;
}

form{
    text-align: center;
}

.sign-button{
    color: grey;
    text-decoration: none;
}

.sign-button:hover{
    color: aqua;
}

.register-form{
    margin-bottom: 15px;
}

.register-form label{
    display: block;
    margin-bottom: 5px;
}

.register-form input {
    background-color: rgb(145, 163, 190);
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s;
}

.register-form input:focus {
    border-bottom-color: aqua;
}

.register-form input::placeholder {
    color: rgb(0, 69, 173);
}

.register-bttn{
    font-size: 20px;
    color: grey;
    text-decoration: none;
}

.register-bttn:hover{
    color: aqua;
}

.error-notify{
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
    
}

.error-message{
    color: red;
    display: block;
    margin-bottom: 10px;
    
}